.img-thumbnail {
    border-radius: 50%;
}
body {
    border: 20px;
    margin: 20px;
    padding: 20px;
    border-style: outset;
    border-color: silver;
    background-color: maroon;

}
a.hover {
    color: green;

}

@media only screen and (max-width: 1850px) {
    body {
        background-color: lightblue;
    }
}