{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="jumbotron">
                {{wtf.quick_form(form)}}
                {{simplemde.load}}
                
		<ul style="list-style: none;">
				{% for pitch in pitches %}
					<div class="list-group">
						<a href="#">
							<div class="list-item">
                               
                            </div>
                            <p>{{ pitch.category }}</p>
                            <p>{{ pitch.name }}</p>
                            
							<h4>{{ pitch.description }}</h4>
							<h6> Posted by {{pitch.owner_id.username}}.</h6>
                        </a>
                        <div>
                            {{format_pitch|safe}}
                        </div>
					</div>
				{% endfor %}
		</ul>
		</div>
	</div>
</div>
	
	
{% endblock %}